.subscription{
    width: 149px;
    height:52px;
    &__name{
        font-family: Pragmatica;
        font-size: 13px;
        line-height: 16px;
        color: #1D3566;
        padding: 12px 24px; 
        }
    }