<div class="container">
    <section class="add-goods">
        <h3 class="add-goods__title-page">
            Дополнительный комплект
        </h3>
        <div class="add-goods__section-name">
            Раковины
        </div>
        <div class="add-goods__cards-goods">
            <div class="add-goods__item">
                <extends src="./src/components/elements/card-add-goods.html">
                </extends>
            </div>
            <div class="add-goods__item">
                <extends src="./src/components/elements/card-add-goods.html">
                </extends>
            </div>
            <div class="add-goods__item">
                <extends src="./src/components/elements/card-add-goods.html">
                </extends>
            </div>
            <div class="add-goods__item">
                <extends src="./src/components/elements/card-add-goods.html">
                </extends>
            </div>
        </div>
        <div class="add-goods__section-name">
            Зеркала
        </div>
        <div class="add-goods__cards-goods">
            <div class="add-goods__item">
                <extends src="./src/components/elements/card-add-goods.html">
                </extends>
            </div>
        </div>
    </section>
</div>