@import '../components/elements/basket-title.styl';
@import '../components/block/basket-form.styl';
@import '../components/block/basket-list.styl';

.basket-m{
    position relative
    background-color var(--main-color)
    &__nav{
        padding: 30px 0 0 16px
    }
    &__content{
        display flex
        flex-direction: column
        justify-content: space-between
        padding: 0 
    }
    &__form{
        width 100%
        margin-bottom: 30px
    }
    &__box{
        width 100%
        margin-right -16px
    }
}