@import '../components/elements/basket-title.styl';
@import '../components/block/basket-form.styl';
@import '../components/block/basket-list.styl';

.basket{
    position relative
    background-color var(--main-color)
    &__nav{
        padding: 30px 0 0 16px
    }
    &__content{
        display flex
        justify-content: space-between
        padding: 0 16px
    }
    &__form{
        width 416px
    }
    &__box{
        width 568px
    }
}