<form action="" class="basket-list">
    <div class="basket-list__total">
        <span class="basket-list__num">15</span>
        товаров
    </div>
    <div class="basket-list__boxes">
        <div class="basket-list__box">
            <h3 class="basket-list__title">
                Зеркало в раме без подсветки Burlington M6OO 60 см
            </h3>
            <div class="basket-list__details">
                <div class="basket-list__number">
                    <div class="basket-list__amout">
                        &times;
                        <span class="basket-list__item">
                            1
                        </span>
                    </div>
                    <p class="basket-list__sum">
                        34 500 P
                    </p>
                </div>
                <p class="basket-list__change">
                    Изменить количество
                </p>
            </div>
            <img src="../image/exemple-silk.png" title="photo" alt="photo" class="basket-list__photo">
            <div class="basket-list__delete">
                <p class="basket-list__icons">-</p>
                <p class="basket-list__name-icons">
                    Убрать из корзины
                </p>
            </div>
        </div>
        <div class="basket-list__box">
            <h3 class="basket-list__title">
                Зеркало в раме без подсветки Burlington M6OO 60 см
            </h3>
            <div class="basket-list__details">
                <div class="basket-list__number">
                    <div class="basket-list__amout">
                        &times;
                        <span class="basket-list__item">
                            1
                        </span>
                    </div>
                    <p class="basket-list__sum">
                        34 500 P
                    </p>
                </div>
                <p class="basket-list__change">
                    Изменить количество
                </p>
            </div>
            <img src="../image/exemple-silk.png" title="photo" alt="photo" class="basket-list__photo">
            <div class="basket-list__delete">
                <p class="basket-list__icons">&ndash;</p>
                <p class="basket-list__name-icons">
                    Убрать из корзины
                </p>
            </div>
        </div>
        <div class="basket-list__box">
            <h3 class="basket-list__title">
                Зеркало в раме без подсветки Burlington M6OO 60 см
            </h3>
            <div class="basket-list__details">
                <div class="basket-list__number">
                    <div class="basket-list__amout">
                        &times;
                        <span class="basket-list__item">
                            1
                        </span>
                    </div>
                    <p class="basket-list__sum">
                        34 500 P
                    </p>
                </div>
                <p class="basket-list__change">
                    Изменить количество
                </p>
            </div>
            <img src="../image/exemple-silk.png" title="photo" alt="photo" class="basket-list__photo">
            <div class="basket-list__delete">
                <p class="basket-list__icons">&ndash;</p>
                <p class="basket-list__name-icons">
                    Убрать из корзины
                </p>
            </div>
        </div>
        <div class="basket-list__box">
            <h3 class="basket-list__title">
                Зеркало в раме без подсветки Burlington M6OO 60 см
            </h3>
            <div class="basket-list__details">
                <div class="basket-list__number">
                    <div class="basket-list__amout">
                        &times;
                        <span class="basket-list__item">
                            1
                        </span>
                    </div>
                    <p class="basket-list__sum">
                        34 500 P
                    </p>
                </div>
                <p class="basket-list__change">
                    Изменить количество
                </p>
            </div>
            <img src="../image/exemple-silk.png" title="photo" alt="photo" class="basket-list__photo">
            <div class="basket-list__delete">
                <p class="basket-list__icons">&ndash;</p>
                <p class="basket-list__name-icons">
                    Убрать из корзины
                </p>
            </div>
        </div>
    </div>
    <button role="button" type="submit" class="basket-list__submit">
        <a href="../html/page-sale-ok.html" class="basket-list__go-to-ok">
            офомить заказ на <span class="basket-list__summary">540 190 Р</span>
        </a>
    </button>
</form>