.basket-list{
    position relative
    &__total{
        position absolute
        top 0
        right 16px
        color: #626262;
        font-size: 11px
    }
    &__boxes{
        margin-right 16px
        margin-top 36px
    }
    &__box{
        height 100px
        width 568px
        border-top 1px solid var(--grey-background-color)
        color var(--main-text-color)
    }
    &__title{
        font-size: 13px
        line-height 16px
        height 32px
        width 226px
    }
    &__details{
        position: absolute
        right 16px
        top 0
        width 104px
        font-size: 13px
        line-height 16px
        height 32px
    }
}