.basket-form{
    padding 0 16px
    font-size: 15px
    &__name{
        color: var(--no-active-button-color)
        height 48px
        line-height 48px
    }
    &__input{
        background-color #F2F2F2;
        border-radius: 4px
        border none
        width 384px
        height 44px
        line-height 44px
        color: var(--main-text-color)
        padding-left 8px
    }
    &::placeholder{
        color var(--no-active-button-color)
    }
    &__name-option{
        margin-top 30px
        color: var(--no-active-button-color)
    }
    &__option{
        color: var(--main-text-color)
        display flex
        flex-wrap: wrap
    }
    &__radio{
        margin 18px 8px
        padding 0
        width 20px
        height 20px
    }
    &__radio-description{
        width 344px
    }
}