<section class="basket">
    <div class="container">
        <nav class="basket__nav">
            <extends src="./src/components/elements/basket-title.html">
            </extends>
        </nav>
        <div class="basket__content">
            <div class="basket__form">
                <extends src="./src/components/block/basket-form.html">
                </extends>
            </div>
            <div class="basket__box">
                <extends src="./src/components/block/basket-list.html">
                </extends>
            </div>
        </div>
    </div>
</section>