<div class="brend">
    <div class="container brend__container">
        <section class="brend__section">
            <div class="brend__menu" role="heading">
                <ul class="brend__menu-list">
                    <li class="brend__item">
                        <a href="../html/index.html" class="brend__name">Главная</a>
                    </li>
                    <li class="brend__item">&bull;</li>
                    <li class="brend__item">
                        <p class="brend__name">
                            Бренды
                        </p>
                    </li>
                </ul>
            </div>
            <div class="brend__image" role="img">
                <img src="../image/brend5-for-slider.png" alt="brend" title="brend" class="brend__img">
            </div>
            <h3 class="brend__title-brend">
                Acrilian
            </h3>
            <div class="brend__land">
                <label for="land" class="brend__title-land">Страна</label>
                <input type="text" id="land" value="Россия" class="brend__name-land">
            </div>
            <p class="brend__title">
                Категория продукции
            </p>

            <div class="brend__sorted">
                <div class="brend__sort label">
                    <p class="label__text">Ванны</p>
                </div>
                <div class="brend__sort label">
                    <p class="label__text">Тумбы</p>
                </div>
                <div class="brend__sort label">
                    <p class="label__text">Посудомоечные машины</p>
                </div>
            </div>
            <article class="brend__article">
                <p class="brend__title">
                    Описание
                </p>
                <p class="brend__text">
                    Компания Akrilan существует с середины 90-х годов и активно развивается в направлении производства
                    сантехники. Акриловые ванны Akrilan производятся в Московской области, завод оснащен последними
                    техническими
                    новинками и достижениями современной науки. Компания имеет Золотой сертификат Ростеста, который
                    признает
                    продукцию Akrilan соответствующей всем российским стандартам. А отзывы о ваннах Akrilan позволят вам
                    убедится в справедливости данной награды.
                </p>
            </article>

        </section>

        <aside class="brend__advertising"></aside>

    </div>
</div>