.brend{
    width 100%
    background-color: var(--main-color)
    
    clear: both
    // min-height: 50px
    position: relative
    &__section{
    float left
    width 752px
    margin: 30px 20px 40px 16px
    position: relative
    }
    &__menu{
        color var(--main-text-color)
        font-size: 14px
        line-height 34px
        height 34px
    }
    &__menu-list{
        list-style none
        display flex
        margin 0
        padding 0
        height 16px
    }
    &__item{
        padding: 0 4px
        user-select: none
        position relative
    }
    &__name{
        display inline
        cursor pointer
        text-decoration none
        color inherit
        cursor pointer
    }
    &__image{
        position absolute
        top 0
        right 0
    }
    &__title-brend{
        margin 0
        padding 6px 0 20px 0
        height 32px
        line-height 32px
        cursor: auto
        color: var(--price-color)
    }
    &__land{
        height 48px
        margin 0
        padding-bottom 24px
        display flex
        align-items: center
        font-size: 16px
        color: var(--main-text-color)
    }
    &__name-land{
        border: 0
        padding-left 6px
        color: var(--main-text-color)
        user-select none
    }
    &__title{
        height 48px
        line-height 48px
        font-size: 16px
        color: var(--main-text-color)
        padding 0
        margin 0
    }
    &__sorted{
        padding-bottom 15px
    }
    &__text{
        padding 0
        margin 0
    }
    &__advertising{
        background-color #C4C4C4
        width 210px
        height 424px
        float right
        clear both
        position absolute
        top 0
        right 0
        margin: 30px 20px 40px 20px
    }
}