<section class="change-and-return">
    <div class="container">
        <div class="change-and-return__menu" role="heading">
            <ul class="change-and-return__menu-list">
                <li class="change-and-return__menu-item">
                    <a href="../html/index.html" class="page-company__name">
                        Главная
                    </a>
                </li>
                <li class="change-and-return__menu-item">
                    <a href="#" class="page-company__name">
                        &bull;
                    </a>
                </li>
                <li class="change-and-return__menu-item">
                    <a href="../html/obmen-i-vozvrat.html" class="page-company__name">
                        Возврат и обмен
                    </a>
                </li>
            </ul>
        </div>
        <article class="change-and-return__article">
            <h2 class="change-and-return__title-page">
                Условия обмена и возврата товара надлежащего качества, приобретенного в интернет-магазине
            </h2>
            <ul class="change-and-return__list">
                <li class="change-and-return__item">
                    товар не должен иметь следов эксплуатации, должны быть
                    сохранены его упаковка, товарный вид, потребительские
                    свойства, пломбы, фабричные ярлыки, а также все
                    полученные от продавца документы (чеки, гарантийный
                    талон, инструкция по эксплуатации)
                </li>
                <li class="change-and-return__item">
                    если к товару был приложен подарок, он должен быть
                    передан вместе с товаром, при этом подарок также не
                    должен иметь следов эксплуатации, должен быть сохранен
                    его товарный вид, потребительские свойства, пломбы и
                    фабричная (родная) упаковка
                </li>
                <li class="change-and-return__item">
                    обменять приобретенный товар надлежащего качества Вы
                    можете на аналогичный товар той же стоимости или на
                    другую модель, доплатив магазину разницу в цене
                </li>
                <li class="change-and-return__item">
                    в случае обмена или возврата товара надлежащего качества,
                    приобретенного в интернет-магазине*, покупатель оплачивает
                    транспортные услуги (стоимость услуги уточняйте у продавца-консультанта
                    компании «АкваСити» в своем регионе)
                </li>
            </ul>
            <p class="change-and-return__introduce">
                Обмен или возврат товара надлежащего качества,
                приобретенного в розничных магазинах осуществляется
                в соответствии с Законом РФ «О защите прав потребителей»
                по усмотрению администрации магазина. Более подробную информацию
                Вы можете получить у администрации магазина.
            </p>
        </article>


        <article class="change-and-return__article">
            <h2 class="change-and-return-page">
                Условия обмена и возврата товара ненадлежащего качества, приобретенного в интернет-магазине
            </h2>
            <ul class="change-and-return__list">
                <li class="change-and-return__item">
                    замена или возврат товара с выявленным в процессе
                    эксплуатации скрытым производственными дефектом
                    (существенным недостатком** ) производится на основаниях
                    и в сроки, установленные Законом РФ «О защите прав
                    потребителей»
                </li>
                <li class="change-and-return__item">
                    в случае возникновения проблем с товаром, во-первых,
                    убедитесь, что Вы полностью ознакомились с инструкцией
                    по эксплуатации товара. Обычно в конце инструкции есть
                    раздел, описывающий типичные проблемы и пути их решения
                    собственными силами
                </li>
                <li class="change-and-return__item">
                    для обмена товара ненадлежащего качества необходимо
                    наличие заключения авторизованного сервисного центра
                    (номера телефонов и адрес указываются в гарантийном
                    талоне). На основании данного заключения по Вашему
                    требованию мы обменяем этот товар на аналогичный, либо
                    вернем уплаченные за него деньги
                </li>
                <li class="change-and-return__item">
                    в случае если в результате экспертизы товара установлено,
                    что его недостатки возникли по вине Покупателя, закон предусматривает
                    обязанность Покупателя возместить расходы, связанные с проведением
                    экспертизы
                </li>
            </ul>
            <p class="change-and-return__introduce">
                Если при рассмотрении Вашего требования о
                возврате товара будет установлено, что товар был
                в эксплуатации, имеет дефекты (трещины, царапины,
                сколы, механические повреждения за исключением скрытых
                производственных дефектов), находится в неполной
                комплектации или не в заводской упаковке, то обмен/возврат
                произведен не будет.
            </p>

        </article>
    </div>
</section>