<section class="contact container">
    <div class="contact__map">
        <iframe class="contact__iframe"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A53aaa6bb81412642f39ee7c0599cac9b48bd37468770f76ae4f043d87138c4fa&amp;source=constructor"
            frameborder="0"></iframe>
    </div>
    <div class="contact__info">
        <p class="contact__title">Наш адрес</p>
        <address class="contact__address">Санкт-Петербург, Ленинский проспект, дом 114</address>
    </div>
</section>