<section class="contact container">
    <div class="contact__map">
        <div id="map"></div>
        <!-- <iframe class="contact__iframe"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A53aaa6bb81412642f39ee7c0599cac9b48bd37468770f76ae4f043d87138c4fa&amp;source=constructor"
            frameborder="0"></iframe>
    </div> -->
        <div class="contact__info">
            <p class="contact__title">Наш адрес</p>
            <address class="contact__address">Санкт-Петербург, Ленинский проспект, дом 114</address>
        </div>
</section>
<script type="text/javascript">
    ymaps.ready(function () {

        var myMap = new ymaps.Map('map', {
                center: [59.852383, 30.244268],
                zoom: 16,
                behaviors: ['default', 'scrollZoom', 'zoomControl'],
                controls: []
            }, {
                searchControlProvider: 'yandex#search'
            }),

            myPlacemark = new ymaps.Placemark([59.852383, 30.244268],

                {
                    balloonContentBody: "<div class='ballon-point'><div class='ballon-img'><img src='https://pp.userapi.com/c851132/v851132592/129fe6/4ftVgwADF5s.jpg' alt='logo'/></div><div class='ballon-content'>Санкт-Петербург, Ленинский проспект, дом 114</div></div>"
                },

                {
                    iconLayout: 'default#image',
                    iconImageHref: 'https://pp.userapi.com/c851016/v851016592/12f467/e8Q0Kr1rVfM.jpg',
                    iconImageSize: [34, 42],
                    // iconImageOffset: [-33, -90]
                });

        // Создадим пользовательский макет ползунка масштаба.
        ZoomLayout = ymaps.templateLayoutFactory.createClass("<div>" +
                "<div id='zoom-in' >+</div><br>" +
                "<div id='zoom-out' >-</div>" +
                "</div>", {

                    // Переопределяем методы макета, чтобы выполнять дополнительные действия
                    // при построении и очистке макета.
                    build: function () {
                        // Вызываем родительский метод build.
                        ZoomLayout.superclass.build.call(this);

                        // Привязываем функции-обработчики к контексту и сохраняем ссылки
                        // на них, чтобы потом отписаться от событий.
                        this.zoomInCallback = ymaps.util.bind(this.zoomIn, this);
                        this.zoomOutCallback = ymaps.util.bind(this.zoomOut, this);

                        // Начинаем слушать клики на кнопках макета.
                        $('#zoom-in').bind('click', this.zoomInCallback);
                        $('#zoom-out').bind('click', this.zoomOutCallback);
                    },

                    clear: function () {
                        // Снимаем обработчики кликов.
                        $('#zoom-in').unbind('click', this.zoomInCallback);
                        $('#zoom-out').unbind('click', this.zoomOutCallback);

                        // Вызываем родительский метод clear.
                        ZoomLayout.superclass.clear.call(this);
                    },

                    zoomIn: function () {
                        var map = this.getData().control.getMap();
                        map.setZoom(map.getZoom() + 1, {
                            checkZoomRange: true
                        });
                    },

                    zoomOut: function () {
                        var map = this.getData().control.getMap();
                        map.setZoom(map.getZoom() - 1, {
                            checkZoomRange: true
                        });
                    }
                }),
            zoomControl = new ymaps.control.ZoomControl({
                options: {
                    layout: ZoomLayout
                }
            });

        myMap.controls.add(zoomControl);
        myMap.geoObjects.add(myPlacemark);
        myMap.behaviors.disable('scrollZoom');

    });
</script>