<section class="filter">
    <div class="container">
        <extends src="./src/components/elements/filter-panel.html">
        </extends>
        <div class="filter__content">
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="filter__content-item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>

</section>