@import '../components/elements/filter-panel.styl';

.filter{
    clear both
    margin 0
    padding: 0
    &__content{
        padding: 12px 16px 16px 16px
        background-color var(--main-color)
        display flex
        justify-content: space-between
        flex-wrap: wrap
        &_row{
            display block
        }
    }
    &__content-item{
        padding: 0 0 16px 0
        user-select: none
    }
    &__content-item-row{
        padding-bottom 8px
        width: calc(100%-32px)
       
    }
}