<section class="filter">
    <div class="container">
        <extends src="./src/components/elements/filter-panel-simple-list.html">
        </extends>
        <div class="filter__content filter__content_row">
            <div class="filter__content-item-row">
                <extends src="./src/components/elements/card-product-simple.html">
                </extends>
            </div>
            <div class="filter__content-item-row">
                <extends src="./src/components/elements/card-product-simple.html">
                </extends>
            </div>
            <div class="filter__content-item-row">
                <extends src="./src/components/elements/card-product-simple.html">
                </extends>
            </div>
            <div class="filter__content-item-row">
                <extends src="./src/components/elements/card-product-simple.html">
                </extends>
            </div>
            <div class="filter__content-item-row">
                <extends src="./src/components/elements/card-product-simple.html">
                </extends>
            </div>
        </div>


</section>