<footer class="footer">
    <div class="container">
        <div class="footer__phone">+7 812 612-26-00</div>
        <div class="footer__text">Без выходных с 10:00 до 21:00</div>
        <div class="footer__buttons">
            <div class="footer__subscription" role="button">
                <p class="footer__label">Подписаться на рассылку</p>
            </div>
            <div class="footer__messages">
                <div class="footer__box">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__link">
                        <button class="footer__facebook" role="button">
                            <img src="../components/icons/facebook-for-footer.svg" role="img" title="Facebook"
                                alt="Facebook" class="footer__icon">
                        </button>
                    </a>

                </div>
                <div class="footer__box">
                    <a href="https://vk.com" target="_blank" class="footer__link">
                        <button class="footer__vk">
                            <img src="../components/icons/vk-for-footer.svg" role="img" title="VK" alt="VK"
                                class="footer__icon">
                        </button>
                    </a>
                </div>
                <div class="footer__box">
                    <a target="_blank" href="mailto:exemple@google-exemple.com?subject=Заказ" class="footer__link">
                        <button class="footer__google">
                            <img src="../components/icons/google-for-footer.svg" role="img" title="Google" alt="Google"
                                class="footer__icon">
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>