.modal-filter{
    &_end{
        background-color #fff
    }
    &__inputs+&__name-inputs{
        margin-left: 16px
     }
    &__inputs{
        display none
    }
    &__inputs[type="checkbox"]+&__name-inputs::before{
        content: ''
        display: inline-block
        width: 18px
        height 18px
        vertical-align: middle;
        border: 1px solid var(--main-text-color)
        background-color var(--main-color)
        color: var(--main-color)
        border-radius: 4px
        text-align: center;
        cursor pointer
        margin-right: 12px
    }
    &__inputs[type="checkbox"]:checked + &__name-inputs::before{
        content:'✓'
        line-height:15px;
        font-size:15px;
        color: var(--main-color)
        background-color var(--main-text-color)
    }
    

    &__row-reset{
        text-align: center
        width 100%
        cursor pointer
    }
    &__reset{
        text-decoration: none
        color var(--heart-active-color)
        font-weight bold
        border: 0
        background-color var(--main-color)
        &_hidden{
            display none
        }
    }
}
