<section class="modal-filter modal-filter_end" id='form-filter'>
    <div class="modal-filter__header">
        <div class="modal-filter__open modal-filter__back">&#8249;</div>
        <div class="modal-filter__title modal-filter__title_element">Форма</div>
    </div>
    <div class="modal-filter__main">
        <div class="modal-filter__label">Остальные</div>
        <div class="modal-filter__row">
            <input type="checkbox" id="pryamougolnaya" name="chooses" class="modal-filter__inputs">
            <label for="#pryamougolnaya" class="modal-filter__name-inputs">Прямоугольная</span>
        </div>
        <div class="modal-filter__row">
            <input type="checkbox" id="assimetrichnaya" name="chooses" class="modal-filter__inputs">
            <label for="#assimetrichnaya" class="modal-filter__name-inputs">Ассиметричная</span>
        </div>
        <div class="modal-filter__row">
            <input type="checkbox" id="circle4" name="chooses" class="modal-filter__inputs">
            <label for="#circle4" class="modal-filter__name-inputs">Четверть круга</span>
        </div>
        <div class="modal-filter__row">
            <input type="checkbox" id="square" name="chooses" class="modal-filter__inputs">
            <label for="#square" class="modal-filter__name-inputs">Квадратная</span>
        </div>
        <div class="modal-filter__row">
            <input type="checkbox" id="angle5" name="chooses" class="modal-filter__inputs">
            <label for="#angle5" class="modal-filter__name-inputs">Пятиугольная</span>
        </div>
        <div class="modal-filter__row-reset">
            <button type="reset" class="modal-filter__reset">Сбросить</button>
        </div>
    </div>


    <div class="modal-filter__footer">
        <a href="#" class="modal-filter__show-result"> готово</a>
    </div>
</section>