@import '../components/elements/card-goods.styl';
@import '../components/elements/main-parametr-goods.styl';
@import '../components/elements/other-parametrs.styl';
@import '../components/block/add-goods.styl';
@import '../components/block/modal-add-basket.styl';


.goods{
    width 100%
    position relative
    background-color: var(--main-color)
    clear: both
    &__content{
        width calc(100%-36px)
        
    }
}