@import '../components/elements/card-goods.styl';
@import '../components/elements/main-parametr-goods.styl';
@import '../components/elements/other-parametrs.styl';

.goods{
    width 100%
    position relative
    background-color: var(--main-color)
    clear: both
    &__content{
        width calc(100%-16px-20px)
        
    }
}