<header class="header" role="heading">
    <div class="container">
        <a href="../html/index.html" class="header__logo">
            <img role="img" src="../components/icons/full-label.svg" title="АКВАСИТИ" alt="АКВАСИТИ"
                class="header__image">
        </a>
        <section class="header__info">
            <div class="header__feedback">Письмо директору</div>
            <div class="header__time-working">Без выходных, с 10:00 до 21:00</div>
            <div class="header__phone">+7 812<span class="header__phone header__phone_big">612-26-00</span></div>
        </section>
    </div>
</header>