<div class="container">
    <div class="izbrannye-tovary">

        <div class="izbrannye-tovary__menu" role="heading">
            <ul class="izbrannye-tovary__menu-list">
                <li class="izbrannye-tovary__menu-item">
                    <a href="../html/index.html" class="izbrannye-tovary__name">
                        Главная
                    </a>
                </li>

            </ul>
        </div>
        <h2 class="izbrannye-tovary__title-page">
            Избранные товары
        </h2>

        <div class="izbrannye-tovary__boxes">
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
            <div class="izbrannye-tovary__box">
                <a href="#" class="izbrannye-tovary__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
        </div>
    </div>
</div>