<main class="first-page">
    <div class="container">
        <nav class="first-page__menu">
            <li class="first-page__tag">
                <a href="#" class="first-page__tag-link first-page__tag-link_active">
                    Распродажа
                </a>
            </li>
            <li class="first-page__tag">
                <a href="#" class="first-page__tag-link">
                    Новинки
                </a>
            </li>
            <li class="first-page__tag">
                <a href="#" class="first-page__tag-link">
                    Хиты продаж
                </a>
            </li>
        </nav>
        <section class="first-page__content">
            <div class="first-page__item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="first-page__item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="first-page__item">
                <a href="../html/page-brend.html" class="first-page__item-link">
                    <extends src="./src/components/elements/card-sale.html">
                    </extends>
                </a>
            </div>
            <div class="first-page__item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="first-page__item">
                <extends src="./src/components/elements/product.html">
                </extends>
            </div>
            <div class="first-page__item">
                <a href="../html/page-goods.html" class="first-page__item-link">
                    <extends src="./src/components/elements/product.html">
                    </extends>
                </a>
            </div>
        </section>
    </div>
</main>