<nav class="menu">
    <h2 class="menu__name">Каталог</h2>
    <div class="container">

        <section class="menu__list">
            <div class="menu__item">
                <a class="menu__title" href="../html/page-catalog.html">Сантехника</a>
                <section class="menu__open-section ">
                    <extends src="./src/components/elements/open-menu.html">

                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Душевые</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Ванны</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Смесители</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Керамика</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Отопление</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Смесители</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Аксессуары</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Плитка</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="#">Инсталяция</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
        </section>
    </div>
    <script src="../components/block/menu.js"></script>
</nav>