<nav class="menu">
    <h2 class="menu__name">Каталог</h2>
    <div class="container">

        <section class="menu__list">
            <div class="menu__item menu__item_active">
                <span class="menu__title">Сантехника</span>
                <div class="menu__select menu__select_active">
                    <section class="menu__box">
                        <h3 class="menu__box-title">Душевые</h3>
                        <ul class="menu__box-list">
                            <li>Душевые кабины</li>
                            <li>Душевой уголок</li>
                            <li>Поддоны</li>
                            <li>Душевые стойки</li>
                            <li>Шторк в ванну</li>
                            <li>ПКарзину для ванной</li>
                            <li>Трапы</li>
                            <li>Сифоны</li>
                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Ванны</h3>
                        <ul>
                            <li></li>

                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Смесители</h3>
                        <ul>
                            <li></li>

                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Керамика</h3>
                        <ul>
                            <li>Унитазы</li>
                            <li>Раковины</li>
                            <li>Биде</li>
                            <li>Писсуары</li>
                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Мебель</h3>
                        <ul>
                            <li>умбы</li>
                            <li>Тумбы под стиральную машину</li>
                            <li>Зеркала</li>
                            <li>Подвесные шкафы</li>
                            <li>Пеналы</li>
                            <li>Комоды</li>
                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Аксессуары</h3>
                        <ul>
                            <li>Моющие средства</li>
                            <li>Банные принадлежности</li>
                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Отопление</h3>
                        <ul>
                            <li>Водонагреватели</li>
                            <li>Теплые полы</li>
                            <li>Полотенцесушители</li>
                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>ДИнсталляции</h3>
                        <ul>
                            <li>Комплекты</li>
                            <li>Клавишы смыва</li>
                            <li>Комплектующие</li>

                        </ul>
                    </section>
                    <section class="menu__box">
                        <h3>Плитка</h3>
                        <ul>
                            <li></li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="menu__item"><span class="menu__title">Душевые</span></div>
            <div class="menu__item"><span class="menu__title">Ванны</span></div>
            <div class="menu__item"><span class="menu__title">Смесители</span></div>
            <div class="menu__item"><span class="menu__title">Керамика</span></div>
            <div class="menu__item"><span class="menu__title">Отопление</span></div>
            <div class="menu__item"><span class="menu__title">Смесители</span></div>
            <div class="menu__item"><span class="menu__title">Аксессуары</span></div>
            <div class="menu__item"><span class="menu__title">Плитка</span></div>
            <div class="menu__item"><span class="menu__title">Инсталяция</span></div>
        </section>
    </div>
</nav>