<nav class="menu">
    <h2 class="menu__name">Каталог</h2>
    <div class="container">

        <section class="menu__list">
            <div class="menu__item">
                <a class="menu__title" href="../html/page-catalog.html">Сантехника</a>
                <section class="menu__open-section ">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <a class="menu__title" href="../html/page-goods.html">Душевые</a>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Ванны</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Смесители</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Керамика</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Отопление</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Смесители</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Аксессуары</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Плитка</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
            <div class="menu__item">
                <span class="menu__title">Инсталяция</span>
                <section class="menu__open-section">
                    <extends src="./src/components/elements/open-menu.html">
                    </extends>
                </section>
            </div>
        </section>
    </div>
    <script src="../components/block/menu.js"></script>
</nav>