<section class="modal-filter">
    <div class="modal-filter__header">
        <div class="modal-filter__title">Фильтры</div>
        <div class="modal-filter__close">X</div>
    </div>
    <div class="modal-filter__main">
        <div class="modal-filter__label">Используется сейчас</div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Тип</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text">Душевые кабины</span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__label">Остальные</div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Формы</span>
            <div class="modal-filter__choose">
                <a href="#" id="form-filter" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Цены</span>
            <div class="modal-filter__choose">
                <a href="#" id="price-filter" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Бренд</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Коллекция</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Длина</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Ширина</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__item">
            <span class="modal-filter__name">Вид поддона</span>
            <div class="modal-filter__choose">
                <a href="#" class="modal-filter__link">
                    <span class="modal-filter__text"></span>
                    <span class="modal-filter__open">&#8250;</span>
                </a>
            </div>
        </div>
        <div class="modal-filter__select">
            <span class="modal-filter__name">Парогенератор</span>
            <div class="modal-filter__turn">
                <div class="modal-filter__marker"></div>
            </div>
        </div>
    </div>
    <button type="submit" class="modal-filter__footer">
        <div class="modal-filter__show-result"> показать 324 результата</div>
    </button>
</section>