<div class="overlay__modal-add-basket"></div>
<div class="modal-add-basket">
    <div class="modal-add-basket__text">
        <h5 class="modal-add-basket__title">Добавлено в корзину</h5>
        <p class="modal-add-basket__name">Раковина Burlington B15</p>
    </div>
    <div class="modal-add-basket__close">x</div>
    <div class="modal-add-basket__details">
        <div class="modal-add-basket__main-detail">
            <div class="modal-add-basket__count">x1</div>
            <h4 class="modal-add-basket__sum">234 500 P</h4>
        </div>
        <div class="modal-add-basket__change">Изменить количество</div>
    </div>
</div>