<nav class="navbar">
    <div class="container">
        <div class="navbar__burger">
            <div class="navbar__box navbar__box_burger">
                <extends src="./src/components/icons/burger-menu.html">
                </extends>
            </div>
            <div class="navbar__open-menu">
                <extends src="./src/components/elements/burger-menu.html">
                </extends>
            </div>
        </div>
        <section class="navbar__action">
            <div class="navbar__box navbar__box_hidden">
                <extends src="./src/components/icons/return-call.html">
                </extends>
            </div>
            <div class="navbar__box">
                <a href="#" class="navbar__link">
                    <extends src="./src/components/icons/look.html">
                    </extends>
                </a>
            </div>
            <div class="navbar__box">
                <a href="#" class="navbar__link">
                    <extends src="./src/components/icons/eye.html">
                    </extends>
                </a>
            </div>
            <div class="navbar__box">
                <a href="#" class="navbar__link">
                    <extends src="./src/components/icons/heart.html">
                    </extends>
                </a>
            </div>
            <div class="navbar__box">
                <a href="../html/page-basket.html" class="navbar__link">
                    <extends src="./src/components/icons/basket.html">
                    </extends>
                </a>
            </div>
        </section>
    </div>
</nav>
<script src="../components/block/navbar.js"></script>