<nav class="navbar">
    <div class="container">
        <div class="navbar__burger navbar__box">
            <extends src="./src/components/icons/burger-menu.html">
            </extends>
        </div>
        <section class="navbar__action">
            <div class="navbar__box navbar__box_hidden">
                <extends src="./src/components/icons/return-call.html">
                </extends>
            </div>
            <div class="navbar__box">
                <extends src="./src/components/icons/look.html">
                </extends>
            </div>
            <div class="navbar__box">
                <extends src="./src/components/icons/eye.html">
                </extends>
            </div>
            <div class="navbar__box">
                <extends src="./src/components/icons/heart.html">
                </extends>
            </div>
            <div class="navbar__box">
                <extends src="./src/components/icons/basket.html">
                </extends>
            </div>
        </section>
    </div>
</nav>