<section class="page-company">
    <div class="container">
        <div class="page-company__menu" role="heading">
            <ul class="page-company__menu-list">
                <li class="page-company__menu-item">
                    <a href="../html/index.html" class="page-company__name">
                        Главная
                    </a>
                </li>
            </ul>
        </div>
        <h2 class="page-company__title-page">
            О компании
        </h2>
        <div class="page-company__nav">
            <nav class="page-company__navbar">
                <button class="page-company__label">
                    <img src="../components/icons/info-for-about-us.svg" alt="О нас" class="page-company__icon">
                    <span class="page-company__name-nav label__text">О нас</span>
                </button>
                <button class="page-company__label page-company__label_default">
                    <img src="../components/icons/lump-for-about-us.svg" alt="Интерьеры" class="page-company__icon">
                    <span class="page-company__name-nav label__text">Интерьеры</span>
                </button>
                <button class="page-company__label page-company__label_opacity">
                    <img src="../components/icons/men-for-about-us.svg" alt="Персонал" class="page-company__icon">
                    <span class="page-company__name-nav label__text">Персонал</span>
                </button>
            </nav>
        </div>
        <article class="page-company__article" role="article">
            <h2 class="page-company__title-page page-company__title-page_article">
                Магазин сантехники «Аква-Сити» вдохновляет на лучшие решения!
            </h2>
            <p class="page-company__introduce">
                Если вы когда-нибудь пробовали приобретать сантехнику онлайн в интернет-магазине,
                то, наверняка, прошлись по множеству сайтов
                данной направленности. Рекламируя покупки через сеть, любой интернет-магазин
                сантехники и керамической плитки чаще всего приводит следующие аргументы:
            </p>
            <ul class="page-company__list">
                <li class="page-company__item">
                    Несмотря на все многообразие магазинов-салонов,
                    место где наиболее полно представлена различная
                    сантехника — интернет магазин, хотя бы потому,
                    что ни один салон в Петербурге, да и в любом другом
                    городе России, просто физически не сможет вместить
                    такой ассортимент на отведенной ему площади.
                    Все товары и бренды в одном месте, не надо никуда
                    ехать, можно приобрести необходимый товар, не выходя
                    из дома, что экономит силы и время;
                </li>
                <li class="page-company__item">
                    Цены значительно ниже, так как интернет-магазин
                    не имеет затрат на аренду выставочных залов,
                    на заработную плату менеджерам и консультантам.
                    Следовательно, данные затраты не закладываются в
                    стоимость товара;
                </li>
                <li class="page-company__item">
                    Круглосуточная работа. Можно обратиться к
                    консультанту в любое удобное время, а не с 9:00 до 18:00.
                </li>
            </ul>
        </article>
        <article class="page-company__article" role="article">
            <h2 class="page-company__title-page">
                Наша экономия вдвойне экономнее!
            </h2>
            <ul class="page-company__list">
                <li class="page-company__item">
                    Экономия времени по-прежнему с вами, поскольку у нас есть интернет-магазин сантехники, в котором вы
                    можете приобрести товар по интернет ценам, которые ниже средних интеренет цен по городу с богатым
                    ассортиментом моделей различных производителей. Удобная система поиска позволяет отобрать нужные
                    модели по бренду или по категории.
                </li>
                <li class="page-company__item">
                    К каждому предложенному товару прилагается несколько фотографий и чертеж с размерами. Помимо этого,
                    в описании представлена полная информация по комплектации и функциям. Если вам понравилась модель
                    неизвестного производителя, информацию о нем найти очень просто — достаточно нажать на логотип в
                    правой части страницы. 24 часа в сутки к вашим услугам — внимательные и квалифицированные
                    онлайн-консультанты.
                </li>
                <li class="page-company__item">
                    Мы обещали двойную экономию, и вот вторая — наличие магазинов в местах с удобной развязкой,
                    Санкт-Петербург пока еще испытывает трудности с транспортно-дорожной обстановкой, поэтому
                    местоположение действительно важно. Как только подберете интересующую Вас продукцию, приезжайте
                    посмотреть на нее в интерьере. Большая площадь салонов позволила интегрировать многие модели в
                    оформление ванных, так что вам не придется фантазировать — все представлено довольно наглядно.
                </li>
                <li class="page-company__item">
                    Каждый клиент экономит время не только на выборе модели и оформлении интерьера, но и на переездах,
                    консультациях. Все можно сделать в одном месте в удобное именно для вас время.
                </li>
                <li class="page-company__item">
                    Кстати, экономию денег при покупке через интернет-магазин сантехники и керамической плитки никто не
                    отменял! «Аква-Сити» предложит товар в своих магазинах-салонах по интернет цене, которая ниже чем у
                    большинства конкурентов, ведь это наша политика. Прямые поставки от официальных дилеров и большой
                    товарооборот позволяют осуществлять продажу с минимальной наценкой.
                </li>
            </ul>
        </article>
    </div>
</section>