<section class="pay-and-delivery">
    <div class="container">
        <div class="pay-and-delivery__menu" role="heading">
            <ul class="pay-and-delivery__menu-list">
                <li class="pay-and-delivery__menu-item">
                    <a href="../html/index.html" class="pay-and-delivery__name">
                        Главная
                    </a>
                </li>
                <li class="pay-and-delivery__menu-item">
                    <a href="#" class="pay-and-delivery__name">
                        &bull;
                    </a>
                </li>
                <li class="pay-and-delivery__menu-item">
                    <a href="../html/obmen-i-vozvrat.html" class="pay-and-delivery__name">
                        Оплата и доставка
                    </a>
                </li>
            </ul>
        </div>
        <article class="pay-and-delivery__article">
            <h2 class="pay-and-delivery__title-page">
                Как заказать товар:
            </h2>
            <ol class="pay-and-delivery__list">
                <li class="pay-and-delivery__item-zakaz">
                    <div class="pay-and-delivery__text-item">
                        Вы можете оформить заказ по телефону, позвонив по
                        телефону: +7 (812) 612-26-00
                    </div>
                </li>
                <li class="pay-and-delivery__item-zakaz">
                    <div class="pay-and-delivery__text-item">
                        Вы можете заказать товар по электронной почте.
                        Для того Вам нужно отправить нам письмо, указав что
                        именно вы хотите заказать, количество товара, адрес
                        доставки, контактные данные по которым с Вами можно
                        связаться.
                    </div>
                </li>
                <li class="pay-and-delivery__item-zakaz">
                    <div class="pay-and-delivery__text-item">
                        Вы можете оформить заказ через корзину товара.
                        Для этого Вам нужно добавить выбранный товар в корзину,
                        кликнув курсором мышки по значку "В корзину".
                        Затем перейти в саму корзину, находиться в правом
                        верхнем меню сайта. Заполнив необходимые поля в представленной
                        форме кликнуть на "Оформить заказ".
                    </div>
                </li>
            </ol>
        </article>
        <article class="pay-and-delivery__article">
            <h2 class="pay-and-delivery__title-page">
                Способы оплаты товара:
            </h2>
            <ol class="pay-and-delivery__list">
                <li class="pay-and-delivery__item-pay">
                    <img src="../components/icons/cash-for-pay.svg" alt="cash" class="pay-and-delivery__item-icon">
                    <div class="pay-and-delivery__text-item pay-and-delivery__text-item_pay">
                        <h3 class="pay-and-delivery__min-head">
                            Плата за наличный расчет
                        </h3>
                        <p class="pay-and-delivery__main-text">
                            По факту доставки, после приёма товара клиентом на адресе
                        </p>
                        <p class="pay-and-delivery__main-text">
                            Оформив заказ в нашем салоне, по адресу: Ленинский пр. 114
                        </p>
                    </div>
                </li>
                <li class="pay-and-delivery__item-pay">
                    <img src="../components/icons/no-cash-for-pay.svg" alt="no cash"
                        class="pay-and-delivery__item-icon">
                    <div class="pay-and-delivery__text-item pay-and-delivery__text-item_pay">
                        <h3 class="pay-and-delivery__min-head">
                            Оплата за безналичный расчет
                        </h3>
                        <p class="pay-and-delivery__main-text">

                            Может быть произведена как юридическим, так и
                            физическим лицом
                        </p>
                        <p class="pay-and-delivery__main-text pay-and-delivery__main-text_with-icon">
                            <img src="../components/icons/pay-card-for-pay.svg" alt="no cash"
                                class="pay-and-delivery__item-icon">
                            <span class="pay-and-delivery__item-desc">
                                Оплата банковской картой:  оформив заказ в нашем
                                салоне, по адресу: Ленинский пр. 114
                            </span>
                        </p>
                        <p class="pay-and-delivery__main-text pay-and-delivery__main-text_with-icon">
                            <img src="../components/icons/pay-card-for-pay.svg" alt="no cash"
                                class="pay-and-delivery__item-icon">
                            <span class="pay-and-delivery__item-desc">
                                Выезд курьера для получения предоплаты
                            </span>
                        </p>
                        <p class="pay-and-delivery__main-text pay-and-delivery__main-text_with-icon">
                            <img src="../components/icons/credit-for-pay.svg" alt="no cash"
                                class="pay-and-delivery__item-icon">
                            <span class="pay-and-delivery__item-desc">
                                Кредит
                            </span>
                        </p>
                    </div>
                </li>
            </ol>
        </article>
        <article class="pay-and-delivery__article">
            <h2 class="pay-and-delivery__title-page">
                Доставка товара:
            </h2>
            <p class="pay-and-delivery__introduce">
                Доставка в пределах КАД
            </p>
            <ul class="pay-and-delivery__list-ul">
                <li class="pay-and-delivery__item">
                    Стоимость доставки до подъезда: 800 руб.
                </li>
            </ul>
            <p class="pay-and-delivery__introduce">
                Доставка за пределами КАД
            </p>
            <ul class="pay-and-delivery__list-ul">
                <li class="pay-and-delivery__item">
                    Стоимость доставки уточняйте пожалуйста у наших менеджеров
                </li>
            </ul>
            <p class="pay-and-delivery__introduce">
                Подъем товара до квартиры:
            </p>
            <ul class="pay-and-delivery__list-ul">
                <li class="pay-and-delivery__item">
                    Стоимость подъема товара на этаж, а также заноса в
                    квартиру уточняйте пожалуйста у наших менеджеров
                </li>
            </ul>
            <p class="pay-and-delivery__introduce">
                Доставка в регионы:
            </p>
            <ul class="pay-and-delivery__list-ul">
                <li class="pay-and-delivery__item">
                    Стоимость доставки в регионы определяется
                    нашими партнерами, это ТК Деловые Линии www.dellin.ru ,
                    ТК Автотрейдинг www.ae5000.ru , ТК Байкал Сервис
                    www.baikalsr.ru и зависит от веса и габаритов товара,
                    а также вида транспортировки
                </li>
            </ul>
        </article>
        <article class="pay-and-delivery__article">
            <h2 class="pay-and-delivery__title-page">
                Сроки оказания услуги:
            </h2>
            <ul class="pay-and-delivery__list-ul">
                <li class="pay-and-delivery__item">
                    Доставка производится в определенный день
                    (согласованный с клиентом в момент оформления заказа) в
                    течение дня (с 10:00 до 22:00)
                </li>
                <li class="pay-and-delivery__item">
                    Более точное время доставки товара на дом
                    (первая половина или вторая половина дня) уточняется
                    покупателем в день оказания услуги, с утра, по контактным телефонам: +7 (911) 923-51-52.
                </li>
            </ul>
        </article>

    </div>
</section>