<section class="modal-filter modal-filter_end" id='price-filter'>
    <div class="modal-filter__header">
        <div class="modal-filter__open modal-filter__back">&#8249;</div>
        <div class="modal-filter__title modal-filter__title_element">Цена</div>
    </div>
    <form class="modal-filter__price">
        <div class="modal-filter__period-price" action="" method="POST">
            <div class="modal-filter__box">
                <label for="#from" class="modal-filter__name-period">От</label>
                <input id="from" type="number" class="modal-filter__qual" placeholder="4 342">
            </div>
            <div class="modal-filter__box">
                <label for="#to" class="modal-filter__name-period">До</label>
                <input id="to" type="number" class="modal-filter__qual" placeholder="20 892">
            </div>
        </div>
        <div class="modal-filter__row-reset">
            <input type="reset" value="Сбросить" class="modal-filter__reset">
        </div>
    </form>


    <div class="modal-filter__footer">
        <a href="#" class="modal-filter__show-result"> готово</a>
    </div>
</section>