.modal-filter{
    &__price{
        height 100px
        width: 100%
        margin-top 8px
        background-color var(--grey-background-color)
        
    }
    &__period-price{
        width 100%
        display flex
        justify-content flex-start
        align-items center
    }
    &__box{
        width: 48%
        line-height 48px
        margin-top 6px
    }
    &__name-period{
        margin 0 16px
        font-size: 16px
        color: var(--no-active-button-color)
    }
    &__qual{
        margin 0 16px
        appearance none
        appearance: textfield
        background-color var(--grey-background-color)
        border 0
        border-bottom: 1px solid #CDD8DA
        font-size: 20px
        color: var(--main-text-color)
        width: 90%
    }
}