<section class="promotion">
    <div class="container">
        <div class="promotion__title">Акции</div>
        <div class="promotion__box">
            <div class="promotion__item">
                <a href="../html/page-brend.html" class="promotion__link">
                    <extends src="./src/components/elements/card-sale.html">
                    </extends>
                </a>
            </div>
            <div class="promotion__item">
                <a href="../html/page-brend.html" class="promotion__link">
                    <extends src="./src/components/elements/card-sale.html">
                    </extends>
                </a>
            </div>
            <div class="promotion__item promotion__item_none">
                <a href="../html/page-brend.html" class="promotion__link">
                    <extends src="./src/components/elements/card-sale.html">
                    </extends>
                </a>
            </div>
        </div>
    </div>
</section>