<section class="promotion">
    <div class="container">
        <div class="promotion__title">Акции</div>
        <div class="promotion__box">
            <div class="promotion__item">
                <extends src="./src/components/elements/card-sale.html">
                </extends>
            </div>
            <div class="promotion__item">
                <extends src="./src/components/elements/card-sale.html">
                </extends>
            </div>
            <div class="promotion__item promotion__item_hidden">
                <extends src="./src/components/elements/card-sale.html">
                </extends>
            </div>
        </div>
    </div>
</section>