<section class="slider-info container">
    <ul class="slider-info__list">
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/calendar-for-slider.svg" title="Работаем без выходных"
                alt="Работаем без выходных" class="slider-info__slide-img">
            <div class="slider-info__slide-name">Работаем без выходных</div>
        </li>
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/auto-for-slider.svg" title="Быстрая доставка" alt="Быстрая доставка"
                class="slider-info__slide-img">
            <div class="slider-info__slide-name">Быстрая доставка</div>
        </li>
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/guarantee-for-slider.svg" title="Гарант низкой цены" alt="Гарант низкой цены"
                class="slider-info__slide-img">
            <div class="slider-info__slide-name">Гарант низкой цены</div>
        </li>
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/men-for-slider.svg" title="Работаем быстро" alt="Работаем быстро"
                class="slider-info__slide-img">
            <div class="slider-info__slide-name">Работаем быстро</div>
        </li>
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/calendar-for-slider.svg" title="Работаем без выходных"
                alt="Работаем без выходных" class="slider-info__slide-img">
            <div class="slider-info__slide-name">Работаем без выходных</div>
        </li>
        <li class="slider-info__slide" role="img">
            <img src="../components/icons/full-watch-for-slider.svg" title="Сервис" alt="Сервис"
                class="slider-info__slide-img">
            <div class="slider-info__slide-name">Сервис</div>
        </li>

    </ul>
    <div class="slider-info__switch">
        <div class="slider-info__switch-position" role="button"></div>
        <div class="slider-info__switch-position" role="button"></div>
        <div class="slider-info__switch-position slider-info__switch-position_active" role="button"></div>
        <div class="slider-info__switch-position" role="button"></div>
        <div class="slider-info__switch-position" role="button"></div>
    </div>
</section>