<section class="slider-brend container">
    <div class="slider-brend__title">Бренды</div>
    <a class="slider-brend__show-all" href="../html/page-brend.html">Показать все</a>
    <div class="slider-brend__slider">
        <button class="slider-brend__nav">
            <img src="../components/icons/button-pre-for-slider.svg" alt="" class="slider-brend__prev">
        </button>

        <div class="owl-carousel owl-theme owl-loaded slider-brend__list">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend1-for-slider.png" title="Brend1" alt="Brend1"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend2-for-slider.png" title="Brend2" alt="Brend2"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend3-for-slider.png" title="Brend3" alt="Brend3"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend4-for-slider.png" title="Brend4" alt="Brend4"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend5-for-slider.png" title="Brend5" alt="Brend5"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend6-for-slider.png" title="Brend6" alt="Brend6"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                    <div class="owl-item">
                        <a href="#" class="slider-brend__brend-link">
                            <img src="../image/brend7-for-slider.png" title="Brend7" alt="Brend7"
                                class="slider-brend__brend-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <ul class="slider-brend__list">
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend1-for-slider.png" title="Brend1" alt="Brend1"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend2-for-slider.png" title="Brend2" alt="Brend2"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend3-for-slider.png" title="Brend3" alt="Brend3"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend4-for-slider.png" title="Brend4" alt="Brend4"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend5-for-slider.png" title="Brend5" alt="Brend5"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend6-for-slider.png" title="Brend6" alt="Brend6"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend7-for-slider.png" title="Brend7" alt="Brend7"
                        class="slider-brend__brend-img">
                </a>
            </li>
        </ul>-->
        <button class="slider-brend__nav">
            <img src="../components/icons/button-pre-for-slider.svg" alt="next" class="slider-brend__next">
        </button>
        <!-- </div> -->
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true, //Зацикливаем слайдер
                center: true, // Отцентровать элементы 
                margin: 24, //Отступ от элемента справа в 50px
                nav: false, //Включение навигации
                // navText: ["<img src='./components/icons/button-pre-for-slider.svg'>",
                //     "<img src='./components/icons/button-pre-for-slider.svg'>"
                // ],
                dots: false,
                rewind: true,
                autoplay: true, //Автозапуск слайдера
                smartSpeed: 1000, //Время движения слайда
                autoplayTimeout: 2000, //Время смены слайда
                autoplayHoverPause: true,
                responsive: { //Адаптивность. Кол-во выводимых элементов при определенной ширине.
                    375: {
                        items: 1
                    },
                    768: {
                        items: 3
                    },
                    1024: {
                        items: 5
                    }
                }
            });
            //Делегируем события кнопок next prev по умолчанию нашим кнопкам, которые могут находится ыне контейнера слайдера
            var owl = $(".owl-carousel");
            owl.owlCarousel();
            //$(".next") - находим нашу кнопку
            $(".slider-brend__next").click(function () {
                owl.trigger("next.owl.carousel");
            });
            $(".slider-brend__prev").click(function () {
                owl.trigger("prev.owl.carousel");
            });
        </script>
</section>