<section class="slider-brend container">
    <div class="slider-brend__title">Бренды</div>
    <button class="slider-brend__show-all">Показать все</button>
    <div class="slider-brend__slider">
        <button class="slider-brend__nav">
            <img src="../components/icons/button-pre-for-slider.svg" alt="" class="slider-brend__prev">
        </button>
        <ul class="slider-brend__list">
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend1-for-slider.png" title="Brend1" alt="Brend1"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend2-for-slider.png" title="Brend2" alt="Brend2"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend3-for-slider.png" title="Brend3" alt="Brend3"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend4-for-slider.png" title="Brend4" alt="Brend4"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend5-for-slider.png" title="Brend5" alt="Brend5"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend6-for-slider.png" title="Brend6" alt="Brend6"
                        class="slider-brend__brend-img">
                </a>
            </li>
            <li class="slider-brend__slide">
                <a href="#" class="slider-brend__brend-link">
                    <img src="../image/brend7-for-slider.png" title="Brend7" alt="Brend7"
                        class="slider-brend__brend-img">
                </a>
            </li>
        </ul>
        <button class="slider-brend__nav">
            <img src="../components/icons/button-pre-for-slider.svg" alt="next" class="slider-brend__next">
        </button>
    </div>
</section>