<section class="modal-filter" id='type-filter'>
    <div class="modal-filter__header">
        <div class="modal-filter__open modal-filter__back">&#8249;</div>
        <div class="modal-filter__title modal-filter__title_element">Тип</div>
    </div>
    <form class="modal-filter__main" action="" method="POST">
        <div class="modal-filter__label">Используется сейчас</div>
        <div class="modal-filter__row">
            <input type="radio" id="shower-cabin" name="choose" class="modal-filter__input">
            <label for="shower-cabin" class="modal-filter__name-input">Душевые кабины</span>
        </div>
        <div class="modal-filter__label">Остальные</div>
        <div class="modal-filter__row">
            <input type="radio" id="santechnika" name="choose" class="modal-filter__input">
            <label for="santechnika" class="modal-filter__name-input">Сантехника</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="bafhroom" name="choose" class="modal-filter__input">
            <label for="bafhroom" class="modal-filter__name-input">Ванны</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="smesitely" name="choose" class="modal-filter__input">
            <label for="smesitely" class="modal-filter__name-input">Смесители</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="ceramika" name="choose" class="modal-filter__input">
            <label for="ceramika" class="modal-filter__name-input">Керамика</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="furnitura" name="choose" class="modal-filter__input">
            <label for="furnitura" class=" modal-filter__name-input">Мебель</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="aksessuary" name="choose" class="modal-filter__input">
            <label for="aksessuary" class=" modal-filter__name-input">Аксессуары</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="otoplenie" name="choose" class="modal-filter__input">
            <label for="otoplenie" class=" modal-filter__name-input">Отопление</span>
        </div>
        <div class="modal-filter__row">
            <input type="radio" id="instal" name="choose" class="modal-filter__input">
            <label for="instal" class=" modal-filter__name-input">Инсталляции</span>
        </div>
    </form>
    <div class="modal-filter__footer">
        <a href="../html/page-catalog.html" class="modal-filter__show-result"> готово</a>
    </div>
</section>