@import '../components/block/modal-filter.styl';

.modal-filter{
    &__title_element{
        margin-left -50px
    }
    &__back{
        margin-left 10px
        line-height 36px
        cursor pointer
        z-index: 1
    }
    &__row{
        display flex
        align-items: center
        height 48px
        border-bottom 1px solid #CDD8DA 
        position relative
        background-color var(--grey-background-color)
    }
    &__input{
        display none
    }
    &__input+&__name-input{
        margin-left: 15px
     }
    &__input[type="radio"]+&__name-input::before{
        content: ''
        display: inline-block
        width: 18px
        height 18px
        vertical-align: middle;
        box-sizing: border-box
        border: 2px solid var(--main-text-color)
        background-color var(--main-color)
        color: var(--main-color)
        border-radius: 50%
        text-align: center;
        cursor pointer
        margin-right: 12px
    }
    &__input[type="radio"]:checked + &__name-input::before{
        content:'•'
        line-height:16px;
        font-size 48px;
        color: var(--main-text-color)
        background-color var(--main-color)
    }
}
