@import 'normalize.css';

@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";

@import '../components/block/menu.styl';
@import '../components/block/serial-modals-windows.styl';
@import '../components/block/modal-filter.styl';
@import '../components/block/type-filter.styl';
@import '../components/block/form-filter.styl';
@import '../components/block/price-filter.styl';
@import '../components/block/slider-info.styl';
@import '../components/block/slider-brend.styl';
@import '../components/block/main-first-page.styl';
@import '../components/block/contact.styl';
@import '../components/block/filter.styl';
@import '../components/block/brend.styl';
@import '../components/block/goods.styl';
@import '../components/block/modal-add-basket.styl'; 
@import '../components/block/page-company.styl'; 
@import '../components/block/basket.styl';
@import '../components/block/basket-m.styl';
@import '../components/elements/sale-ok.styl';
@import '../components/block/izbrannye-tovary.styl';
@import '../components/block/change-and-return.styl';
@import '../components/block/pay-and-delivery.styl';
@import '../components/elements/marker-navbar.styl';

html, body{
    height 100%
}
.wrapper{
    position relative
    // min-height 100%
    }
body{
    font-family: 'Helvetica', arial;
    box-sizing: border-box
    background-color var(--main-color)
  
}
.hidden_active{
    overflow hidden
    }

:root{
    --main-color: #ffffff
    --header-text-color: #2a3864
    --main-text-color: #1d3566
    --grey-background-color: #e6edee
    --box-shadow-color: rgba(0 0 0 0.15)
    --price-color: #000000
    --heart-active-color: #ff5414
    --background-button-color: #71acdc
    --no-active-button-color: #878787
}

//работа модального окна
.modal-window{
    display none
    &_active{
        display block
    }    
}

desktop = "(max-width:1023px) and (max-device-width:1023px)"
tablet = "(max-width:767px) and (max-device-width:767px)"
mobile = "(max-width:375px) and (max-device-width:375px)"


.container{
    position relative
    margin: 0 auto
    max-width: 1024px;
    width: 100%;
}

.header{
    background-color:  var (--main-color)
    width: 100%
    height 60px
    float left
    clear both
    line-height: 60px
    @media tablet {
        height 68px
        line-height: 68px
    }
   
    &__logo{
        margin-left 16px
        height 60px
        display flex
        align-items: center
        float left
        cursor pointer
        @media tablet {
            height 68px
        }
    }
    &__info{
        float: right 
        height 60px
        clear right
        line-height: 60px
        display flex
        align-items: center
        margin 0
        padding 0
    }
    &__feedback{
        color: var(--header-text-color)
        border-bottom: 1px dashed var(--header-text-color);  
        padding: 0 
        margin 0 4px
        cursor pointer
        height 15px
        font-size: 11px
        line-height: 15px
        transition: 0.3s
        &:hover{
            opacity 0.6
            transition: 0.3s
        }
        @media desktop {
            margin 0 77px 0 0
        }
        @media tablet {
           border: none
            margin 0 16px 
            width 72px
            font-size: 12px
            text-align: right 
            line-height: normal
            color:var(--main-text-color)
        }
    }
    &__time-working{
        height 15px
        font-size: 11px
        line-height: 15px
        color: #878787;
        padding 0 12px;
        border-right: 1px solid var(--main-text-color)
        @media tablet {
            display: none
            
        }
    }
    &__phone{
        height 15px
        line-height: 9px
        font-size: 11px
        padding 0 12px
        margin: 0 12px 0 0
        color: var(--main-text-color)
        clear both
        @media tablet {
            display: none
            
        }
    }
    &__phone_big{
        font-size: 18px;
        letter-spacing: 0.04em;
        margin-right: 0
        padding-right 0
    }
}

.navbar{
    height 48px
    width: 100%
    background-color:var(--main-text-color)
    color:var(--main-color)
    display flex
    justify-content: center
    &__burger{
        margin-left 8px;
        
    }
    &__open-menu{
        display: none
        &_active{
            display block
            position absolute
            top 0
            left 0
            z-index: 2
        }
    }
    &__action{
        display flex
        justify-content: center
        align-items: center
        position absolute
        right 0
        top: 0
    }
    &__box{
        display flex
        justify-content: center
        align-items: center
        cursor pointer
        width: 48px
        height 48px
        margin-right 8px
        transition: 0.1s
        @media mobile{
            margin-right 4px
        }
        &:hover{
            opacity 0.5
            transition: 0.1s
        }
    }
    &__box_hidden{
        @media (min-device-width:376px) {
            display none
        }
        @media (device-width:375px){
            display flex
        }
    }
    &__link{
        text-decoration none
        color: inherit
    }
}


//components
// all icons
.icon {
    fill: currentColor;
}
//label
.label{
    display inline-flex
    height 48px
    background-color var(--grey-background-color)
    border-radius: 4px
    text-align: center
    cursor: pointer
    color: var(--main-text-color)
    text-decoration: none
    &__text{
        font-size: 15px
        line-height 48px
        margin 0
        padding: 0 16px
        user-select none
        height 100%
    }
    &_default{
       color: var(--price-color)
       background-color var(--main-color)
       border: 1px solid var(--grey-background-color)

    }
}

//burger-menu
.burger-menu{
    width: 375px
    height 487px
    background-color var(--main-text-color)
    // opacity 0.9
    color: var(--main-color)
    text-transform: uppercase
    display: flex
    &__close{
        width: 48px
        height 48px
        margin-left: 8px
        font-size: 36px
        text-align: center
        line-height 48px
        user-select none
        cursor pointer
        &:hover{
            opacity 0.7
        }
    }
    &__list{
        list-style none
        margin-top 22px
        font-size: 14px
        line-height 48px
        margin-left 0
        padding: 0
        margin-bottom 0
        cursor pointer
    }
    &__link{
        text-decoration:  none 
        color: var(--main-color)
        &:hover{
            opacity 0.5
        }
    }

}
// плашка для карточки товара product.html
.product{
    width 320px
    height 272px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    position: relative
    background-color: white
    box-shadow: 0px 0px 4px var(--box-shadow-color)
    border-radius: 4px;
    margin 0
    padding: 0
    box-sizing: border-box
    overflow: hidden
    @media desktop{
        width: 240px
    }
    @media mobile{
        width: 168px
    }
    &__photo{
        margin-top 4px
        cursor pointer
        user-select none
        width auto
    }
    &__wrapper{
        width 100%
        height 100%
        transition: 0.3s 
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        &:hover{
            transform: scale(1.05)
            transition: 0.3s    
        }
    }
    &__image{
        height 168px    
    }
    &__description{
        width 304px
        padding: 0 8px 0 8px
        color: var(--main-text-color)
        font-size: 13px
        line-height 16px
        bottom 24px
        position absolute
        @media desktop{
            width: 224px
        }
        @media tablet{
            width: 152px
        }
    }
    &__price{
        font-size: 16px;
        line-height: 24px;
        color: var(--price-color)
        font-weight: 600
    }
    &__like{
        position absolute
        width 36px
        height 36px
        right 4px
        bottom: 0
        background url('../components/icons/not-like.svg') no-repeat center 
        cursor: pointer
        
        &_active{
            background url('../components/icons/heart-added.svg') no-repeat center 
        }
    }
    &__like_active{
        color: var(--heart-active-color)
    }
}
//длинные карточки товара
.card-product{
    background: var(--main-color)
    width: 100%
    padding: 0
    clear both
    cursor: pointer
    
    &__boxes{
        height 152px
        background: var(--main-color)
        box-shadow: 0px 0px 4px var(--box-shadow-color)
        border-radius: 4px;
        margin: 0 16px
        &_simple{
        height 72px
    }
    }
    &__main-info{
        display block
        padding:16px 16px 0px 16px
        height 48px
        clear both
        line-height: 16px;
    }
    &__photo{
        width: 48px
        height 48px
        float left
    }
    &__image{
        width: 48px
        height 48px
    }
    &__description{
        float left
        font-size: 13px;
        color: var(--main-text-color)
        height 48px
        margin-left 8px
        margin-top 4px

    }
    &__price{
        float: right 
        font-size: 16px;
        color: var(--price-color)
    }
    &__characteristic{
        display block
        clear both
        font-size: 12px;
        line-height: 24px;
        color: var(--price-color)
    }
    &__row{
        display flex
        margin-left: 68px
    }
    &__label{
        width: 62px
    }
    &__value{
        width: 223px
        margin-left: 32px
    }

}
// плашка для акции sale.html
.sale{
    position relative
    background-color var(--main-color)
    width 320px
    height 272px
    display flex
    flex-direction: column
    align-items: flex-start
    justify-content flex-start
    box-shadow: 0px 0px 4px var(--box-shadow-color)
    box-sizing: border-box
    border-radius: 4px;
    cursor pointer
    padding: 0
    transition: 0.3s
    &:hover{
        opacity 0.6
        transition: 0.3s    
    }
    @media desktop{
        width: 240px
    }
    @media tablet {
        width: 168px
    }
    &__description{
        margin 18px 0 0 16px
        line-height: 32px;
    }
    &__title{
        font-size: 22px;
        color: var(--pice-color)
        font-weight bolder
        &_value{
            color: var(--background-button-color)
        }
    }
    &__text{
        color: var(--main-text-color)
        font-size: 12px
        line-height: 22px;
    }
    &__label{
        position absolute
        top 48px
        left 0
        z-index: 0
        width: 100%
        display flex
        justify-content: center
        height 168px
    }
    &__image{
        width: auto
        height 168px
    }
    &__period{
        background-color #434E71;
        position absolute
        bottom 14px
        width 158px
        height 40px
        line-height: 14px
        font-size: 14px;
        &::after{
            content: ''
            position absolute
            border: 20px solid transparent;
            border-right: 20px solid var(--main-color)
            top 0
            right 0
        }
    }
    &__date{
        color: var(--main-color)
        margin-left 16px
    }
}

//акции promotion.html
.promotion{
    background-color var(--main-color)
    height 352px
    display flex
    flex-direction: column
    padding: 16px 0 0 16px
    margin: 0
    position: relative
    &__title{
        font-size: 22px;
        line-height: 32px;
        color: var(--main-text-color)
        padding 0
        margin 0
        font-weight 900
    }
    &__box{
        margin-top 20px
        position relative
        display flex
    }
    &__item{
        margin: 0 16px 0 0
        display: block
        float: left
        &:nth-of-type(3n){
            margin 0
            @media desktop {
                display none
                }
            }
        
    }
    &__link{
        text-decoration none
        color inherit
    }
}

.footer{
    margin 0
    position absolute
    height 188px
    width: 100%
    background: var(--main-text-color)
    color: var(--grey-background-color)
    font-family: 'AGPresquire', arial;
    &__phone{
        font-size: 24px
        line-height 24px
        padding: 22px 0 0 24px
    }
    &__text{
        font-size: 13px;
        line-height: 16px;
        color: var(--main-color)
        padding-left 24px
    }
    &__buttons{
        width: 100%
        display flex
        position absolute
        top: 96px
        left 0
    }
    &__subscription{
        margin: 0
        padding 0
        width: 123px
        height 52px
        background-color var(--main-color)
        font-size: 13px;
        line-height: 52px;
        color: var(--main-text-color)
        float left
        position relative
        cursor pointer
        user-select none

    }
    &__subscription::after{
        content: ''
        position absolute
        top: 0
        right -51px
        border: 26px solid transparent; 
        border-left: 26px solid var(--main-color)
    }
    &__label{
        width: 89px
        line-height: 13px;
        margin-left: 24px
        &:hover{
            color: var(--price-color)
        }
    }
    &__messages{
        position absolute
        right 0
        bottom: 0
        display flex
        margin-right 4px
        
    }
    &__box{
        width: 52px
        height 52px
        margin 0 8px 0 0
        display flex
        justify-content: center
        align-items: center
    }
    &__facebook, &__vk, &__google{
        width: 37px
        height 37px
        background:var(--background-button-color)
        transform: rotate(-45deg);
        border: none
        display flex
        justify-content: center
        align-items: center
        cursor pointer
        &:hover{
            opacity 0.5
        }
    }
    &__icon{
        transform: rotate(45deg);
        user-select none
    }
}

//блок на месте отсутствующего клнтента
.block{
    background: var(--grey-background-color)
    height 457px
    }

//basket page
.basket
    @media mobile{
        display none
    }
    &_mobile{
        display none
        @media mobile{
            display block
        }    
    }
