<section class="burger-menu">
    <div class="burger-menu__close" role="button">
        &times;
    </div>
    <ul class="burger-menu__list">
        <li class="burger-menu__item"> <a href="../html/index.html" class="burger-menu__link">главная</a> </li>
        <li class="burger-menu__item"><a href="../html/about-company.html" class="burger-menu__link">о компании</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">возврат и обмен</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">оплата и доставка</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">акции</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">отзывы</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">интерьеры</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">кредит</a></li>
        <li class="burger-menu__item"><a href="#" class="burger-menu__link">контакты</a></li>
    </ul>
</section>