<div class="container">
    <section class="card-goods">

        <div class="card-goods__menu" role="heading">
            <ul class="card-goods__menu-list">
                <li class="card-goods__item">
                    <a href="../html/index.html" class="card-goods__name">
                        Главная
                    </a>
                </li>
                <li class="card-goods__item">&bull;</li>
                <li class="card-goods__item">
                    <a href="../html/page-catalog.html" class="card-goods__name">
                        Сантехника
                    </a>
                </li>
                <li class="card-goods__item">&bull;</li>
                <li class="card-goods__item">
                    <p class="card-goods__name">
                        Тумбы под стиральную машину
                    </p>
                </li>
            </ul>
        </div>
        <h3 class="card-goods__title-goods">
            Душевая кабина AM.PM Awe 90*90 см
        </h3>
        <div class="card-goods__face">
            <div class="card-goods__photo">
                <img src="../image/photo-for-info-about-item.png" alt="goods" class="card-goods__main-photo">
                <div class="card-goods__galery">
                    <div class="card-goods__pages"></div>
                    <div class="card-goods__pages"></div>
                    <div class="card-goods__pages"></div>
                    <div class="card-goods__pages"></div>
                    <div class="card-goods__pages"></div>
                    <div class="card-goods__pages"></div>
                </div>
            </div>
            <div class="card-goods__icons">
                <div class="card-goods__rating">
                    <div class="card-goods__star"></div>
                    <p class="card-goods__result">3,5</p>
                </div>
                <div class="card-goods__like">
                </div>
            </div>
        </div>
    </section>
</div>
<script src="../components/elements/active-like-rating.js"></script>