<div class="sale">
    <div class="sale__description">
        <div class="sale__title">Скидка <span class="sale__title sale__title_value">15%</span> </div>
        <div class="sale__text">
            на все ванны Akrilian
        </div>
    </div>
    <div class="sale__label">
        <img src="../image/label-bath-for-card.png" role="img" title="Акция" alt="Акция" class="sale__image">
    </div>

    <div class="sale__period">
        <p class="sale__date">С 15.08 по 23.07</p>
    </div>
</div>