<div class="card-add-goods">
    <a href="../html/page-goods.html" class="main-parametr-goods__link">
        <img src="../image/exemple-silk.png" role="img" alt="sink" class="card-add-goods__img">
        <p class="card-add-goods__description">
            Раковина Burlington B14
        </p>
        <h4 class="card-add-goods__price">
            260 190 P
        </h4>
        <div class="card-add-goods__add" role="button">

            <img src="../components/icons/add-goods.svg" alt="plus" class="card-add-goods__plus">

        </div>
    </a>
</div>