<section class="card-product">
    <div class="container">
        <div class="card-product__boxes">
            <div class="card-product__main-info">
                <div class="card-product__photo">
                    <img src="../image/shower-cabin-for-card.png" role="img" title="Душевая кабина" alt="Душевая кабина"
                        class="card-product__image">
                </div>
                <div class="card-product__description">
                    <div class="card-product__text">Душевая кабина АМ.РМ</div>
                    <div class="card-product__char">Awe 90*90см</div>
                </div>
                <div class="card-product__price">260 190 Р</div>
            </div>
            <div class="card-product__characteristic">
                <div class="card-product__row">
                    <div class="card-product__label">Бренд</div>
                    <div class="card-product__value">Ravak</div>
                </div>
                <div class="card-product__row">
                    <div class="card-product__label">Артикул</div>
                    <div class="card-product__value">X070063</div>
                </div>
                <div class="card-product__row">
                    <div class="card-product__label">Коллекция</div>
                    <div class="card-product__value">10</div>
                </div>
            </div>
        </div>
    </div>
</section>