<section class="card-product">
    <div class="container">
        <div class="card-product__boxes card-product__boxes_simple">
            <div class="card-product__main-info">
                <a href="../html/page-goods.html" class="card-product__description">
                    <div class="card-product__text">Душевая кабина АМ.РМ</div>
                    <div class="card-product__char">Awe 90*90см</div>
                </a>
                <div class="card-product__price">260 190 Р</div>
            </div>

        </div>
    </div>
</section>