.card-goods{
    width 100%
    background-color: var(--main-color)
    position: relative
    padding: 30px 20px 40px 16px
    &__menu{
        color var(--main-text-color)
        font-size: 14px
        line-height 34px
        height 34px
        width 100%
    }
    &__menu-list{
        list-style none
        display flex
        margin 0
        padding 0
        height 16px
        width 100%
    }
    &__item{
        padding: 0 4px
        user-select: none
        position relative
    }
    &__name{
        display inline
        cursor pointer
        text-decoration none
        color inherit
        cursor pointer
    }
    &__title-goods{
        margin 0
        padding 6px 0 20px 0
        height 32px
        line-height 32px
        cursor: auto
        color: var(--price-color)
    }
    &__face{
        margin 32px 8px 26px 272px
        display flex
        position relative
    }
    &__photo{
        width 480px
        height 342px
        display flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        
    }
    &__main-photo{
        width 408px
        height 272px
    }
    &__galery{
        width 100%
        height 40px
        display flex
        justify-content: space-between
    }
    &__pages{
        width 70px
        height 100%
        background-color #C4C4C4;
        cursor pointer
    }
    &__icons{
        width 52px
        position absolute
        bottom 0
        right 0
        text-align center
    }
    &__rating{
        // color: var(--background-button-color)
        border-bottom 1px solid  #CDD8DA;
        text-align center
        width 36px
    }
    &__star{
        width 36px
        height 36px
        background url('../components/icons/Star.svg') no-repeat center
        cursor: pointer
        &_active{
            background url('../components/icons/star-active.svg') no-repeat center
        }
    }
    &__result{
        height 28px
        width 100%
        color: var(--background-button-color)
        font-size 14px
        font-weight 600
        padding  0 14px 0 0
        margin  0
        text-align center
    }
    &__like{
        width 36px
        height: 36px
        margin-top 20px
        background url('../components/icons/not-like.svg') no-repeat center 
        cursor: pointer
        &_active{
            background url('../components/icons/heart-added.svg') no-repeat center 
        }
    }
}

