<section class="filter-panel">
    <div class="container">
        <div class="panel-filter-header">
            <div class="panel-filter-header__menu">
                <ul class="panel-filter-header__menu-list">
                    <li class="panel-filter-header__item">
                        <p class="panel-filter-header__name">Главная</p>
                    </li>
                    <li class="panel-filter-header__item">&bull;</li>
                    <li class="panel-filter-header__item">
                        <p class="panel-filter-header__name">
                            Сантехника
                        </p>
                    </li>
                </ul>
            </div>
            <div class="panel-filter-header__navigation">
                <h1 class="panel-filter-header__title">
                    Тумбы под стиральную машину
                </h1>
                <div class="panel-filter-header__icons">
                    <a href="../html/page-catalog.html" class="panel-filter-header__type-sort">
                        <extends src="./src/components/icons/grid-for-search.html">
                        </extends>
                    </a>
                    <a href="../html/page-catalog-list.html"
                        class="panel-filter-header__type-sort  panel-filter-header__type-sort_active">
                        <extends src="./src/components/icons/list-for-search.html">
                        </extends>
                    </a>
                    <a href="../html/page-catalog-simple-list.html" class="panel-filter-header__type-sort">
                        <extends src="./src/components/icons/simple-list-for-search.html">
                        </extends>
                    </a>
                </div>
            </div>
            <div class="panel-filter-header__sort">
                <div class="panel-filter-header__sort-title">Сортировать:</div>
                <nav class="panel-filter-header__navbar">
                    <div class="panel-filter-header__nav-box label">
                        <p class="label__text">По умолчанию</p>
                    </div>
                    <div class="panel-filter-header__nav-box label label_default">
                        <p class="label__text">По цене</p>
                    </div>
                    <div class="panel-filter-header__nav-box label label_default">
                        <p class="label__text">По рейтингу</p>
                    </div>
                </nav>
                <div class="panel-filter-header__navbar-select">
                    <select class="panel-filter-header__navbar-sel">
                        <option class="panel-filter-header__option" selected>По умолчанию</option>
                        <option class="panel-filter-header__option">По цене</option>
                        <option class="panel-filter-header__option">По рейтингу</option>
                    </select>
                    <img src='../components/icons/arros-for-selected.svg' alt="arrows"
                        class="panel-filter-header__arrow">
                </div>
                <div class="panel-filter-header__checkbox">
                    <input type="checkbox" id="checkbox" class="panel-filter-header__checkbox-input">
                    <label for="checkbox" class="panel-filter-header__checkbox-label">Новинки вверху списка</label>
                </div>
                <div class="panel-filter-header__filter label">
                    <div class="panel-filter-header__label-text">Фильтры</div>
                    <div class="panel-filter-header__marker">
                        1
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="../components/elements/filter-panel.js"></script>