<section class="main-parametr-goods">
    <div class="container">
        <div class="main-parametr-goods__content">
            <p class="main-parametr-goods__title">
                Душевая дверь с неподвижным элементом AM.PM Sensation 80 см.
            </p>
            <div class="main-parametr-goods__repost">
                <p class="main-parametr-goods__repost-label">
                    Поделиться
                </p>
                <div class="main-parametr-goods__repost-boxes">
                    <div class="main-parametr-goods__box">
                        <a href="https://www.facebook.com/" target="_blank" class="main-parametr-goods__link">
                            <button class="main-parametr-goods__facebook">
                                <img src="../components/icons/facebook-for-footer.svg" role="img" title="Facebook"
                                    alt="Facebook" class="main-parametr-goods__icon">
                            </button>
                        </a>

                    </div>
                    <div class="main-parametr-goods__box">
                        <a href="https://vk.com" target="_blank" class="main-parametr-goods__link">
                            <button class="main-parametr-goods__vk">
                                <img src="../components/icons/vk-for-footer.svg" role="img" title="VK" alt="VK"
                                    class="main-parametr-goods__icon">
                            </button>
                        </a>
                    </div>
                    <div class="main-parametr-goods__box">
                        <a href="mailto:exemple@google-exemple.com?subject=Заказ" target="_blank"
                            class="main-parametr-goods__link">
                            <button class="main-parametr-goods__google">
                                <img src="../components/icons/google-for-footer.svg" role="img" title="Google"
                                    alt="Google" class="main-parametr-goods__icon">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-parametr-goods__amount">
                <p class="main-parametr-goods__amount-title">Количество</p>
                <form class="main-parametr-goods__change">
                    <input id="minus" value="-" type="button"
                        class="main-parametr-goods__change-button main-parametr-goods__change-button_minus">
                    <output class="main-parametr-goods__change-item" name="result">7</output>
                    <input id="plus" value="+" type="button"
                        class="main-parametr-goods__change-button main-parametr-goods__change-button__plus">
                </form>
            </div>
            <div class="main-parametr-goods__info-about-cost">
                <h3 class="main-parametr-goods__price">260 190 P</h3>
                <div class="main-parametr-goods__feedback">Нашли дешевле?</div>
            </div>
            <div class="main-parametr-goods__buy">
                <div class="main-parametr-goods__credit">
                    <div class="main-parametr-goods__feedback main-parametr-goods__feedback_credit">Купить в кредит
                    </div>
                    <p class="main-parametr-goods__text">от 2 000 Р в месяц</p>
                </div>
                <div role="button" class="main-parametr-goods__button" role="button">
                    <a href="#" class="main-parametr-goods__link">
                        <div class="main-parametr-goods__basket">
                            <div class="main-parametr-goods__basket-icon">
                                <extends src="./src/components/icons/basket.html">
                                </extends>
                            </div>
                        </div>
                        <div class="main-parametr-goods__button-name">
                            В корзину
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>