.marker-navbar{
    width 14px
    height 14px
    border-radius: 50%
    background-color var(--heart-active-color)
    display flex
    justify-content: center
    align-items: center
    &__text{
        color: var(--main-color)
        font-size: 9px    
    }
}