<div class="modal-sale-ok">
    <h4 class="modal-sale-ok__title">
        Зеркало в раме без подсветки Burlington M6OO 60 см
    </h4>
    <div class="modal-sale-ok__close">+</div>
    <img src="../image/exemple-silk.png" alt="sink" class="modal-sale-ok__photo">
    <div class="modal-sale-ok__details">
        <div class="modal-sale-ok__amount">
            <p class="modal-sale-ok__amount-title">Количество</p>
            <div class="modal-sale-ok__change">
                <button class="modal-sale-ok__change-button modal-sale-ok__change-button_minus">-</button>
                <div class="modal-sale-ok__change-item">7</div>
                <button class="modal-sale-ok__change-button modal-sale-ok__change-button__plus">+</button>
            </div>
        </div>
        <div class="modal-sale-ok__sum">
            <p class="modal-sale-ok__sum-title">
                Стоимость
            </p>
            <h1 class="modal-sale-ok__summary">=
                <span class="modal-sale-ok__total">
                    934 500 Р
                </span></h1>
        </div>
    </div>
    <div class="modal-sale-ok__delete">
        <p class="modal-sale-ok__icons">&ndash;</p>
        <p class="modal-sale-ok__name-icons">
            Убрать из корзины
        </p>
    </div>
    <button class="modal-sale-ok__button">
        <a href="#" class="modal-sale-ok__link">
            сохранить
        </a>
    </button>
</div>