<div class="menu__select menu__select_active">
    <section class="menu__box">
        <h3 class="menu__box-title">Душевые</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Душевые кабины</li>
            <li class="menu__box-textarea">Душевой уголок</li>
            <li class="menu__box-textarea">Поддоны</li>
            <li class="menu__box-textarea">Душевые стойки</li>
            <li class="menu__box-textarea">Шторк в ванну</li>
            <li class="menu__box-textarea">Корзину для ванной</li>
            <li class="menu__box-textarea">Трапы</li>
            <li class="menu__box-textarea">Сифоны</li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Ванны</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Смесители</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Керамика</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Унитазы</li>
            <li class="menu__box-textarea">Раковины</li>
            <li class="menu__box-textarea">Биде</li>
            <li class="menu__box-textarea">Писсуары</li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Мебель</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Тумбы</li>
            <li class="menu__box-textarea">Тумбы под стиральную машину</li>
            <li class="menu__box-textarea">Зеркала</li>
            <li class="menu__box-textarea">Подвесные шкафы</li>
            <li class="menu__box-textarea">Пеналы</li>
            <li class="menu__box-textarea">Комоды</li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Аксессуары</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Моющие средства</li>
            <li class="menu__box-textarea">Банные принадлежности</li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Отопление</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Водонагреватели</li>
            <li class="menu__box-textarea">Теплые полы</li>
            <li class="menu__box-textarea">Полотенцесушители</li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Инсталляции</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">Комплекты</li>
            <li class="menu__box-textarea">Клавишы смыва</li>
            <li class="menu__box-textarea">Комплектующие</li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Плитка</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>
        </ul>
    </section>
</div>