<div class="menu__select">
    <section class="menu__box">
        <h3 class="menu__box-title">Душевые</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Душевые кабины
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Душевой уголок
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Поддоны
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Душевые стойки
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Шторк в ванну
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Корзину для ванной
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Трапы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Сифоны
                </a>
            </li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Ванны</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Смесители</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Керамика</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Унитазы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Раковины
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Биде
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Писсуары
                </a>
            </li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Мебель</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Тумбы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Тумбы под стиральную машину
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Зеркала
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Подвесные шкафы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Пеналы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Комоды
                </a>
            </li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Аксессуары</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Моющие средства
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Банные принадлежности
                </a>
            </li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Отопление</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Водонагреватели
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Теплые полы
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Полотенцесушители
                </a>
            </li>
        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Инсталляции</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Комплекты
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Клавишы смыва
                </a>
            </li>
            <li class="menu__box-textarea">
                <a href="#" class="menu__title">
                    Комплектующие
                </a>
            </li>

        </ul>
    </section>
    <section class="menu__box">
        <h3 class="menu__box-title">Плитка</h3>
        <ul class="menu__box-list">
            <li class="menu__box-textarea"></li>
        </ul>
    </section>
</div>