<section class="other-parametrs">
    <div class="other-parametrs__group">
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Параметры</block>
        </extends>
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Отзывы</block>
            <block name="parametr-amount">12</block>
        </extends>
    </div>
    <div class="other-parametrs__group">
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Гарантии</block>
        </extends>
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Возврат</block>
        </extends>
    </div>
</section>