@import '../components/elements/parametr.styl';

.other-parametrs{
    &__group{
        margin-top 8px
    }
    &__view{
        background-color var(--grey-background-color)
        display: none
        padding 16px
        &_active{
            display block
            border-bottom: 1px solid #cdd8da;
        }
        &_white{
            background-color: var(--main-color)
        }
    }
    &__table{
        display flex    
    }
    &__view-list{
        list-style none 
        margin 0
        padding 0 
        width 140px
        font-size: 12px
        line-height 24px
        color: var(--price-color)
        float left
    
    }
    &__view-item{
        text-decoration none
        color inherit
        margin 0 
        padding 0
        height 24px
    }
    &__list-otzyv{
        padding 0
        margin 0 0 0 20px
        font-size: 16px
        line-height 24px
        color: var(--price-color)    
        list-style: none
        counter-reset: item
    }
    &__item-otzyv{
        margin 12px
        padding-left: 8px 
        display list-item   
        background-color var(--main-color)
        &::before{
            content: counter(item)
            counter-increment: item  
            margin-left: -26px  
            margin-right: 16px 
        }
    }
    &__text{
        padding: 0 80px 0 16px
        margin: 0
        color: var(--ptice-color)
        font-size: 14px
        line-height 24px
        &:last-of-type{
            margin-bottom 0
        }
    }
    &__pharagraph{
        margin 0
        padding-bottom 24px
        &:last-of-type{
            padding-bottom 0
        }
    }
}