<section class="other-parametrs">
    <div class="other-parametrs__group">
        <div class="other-parametrs__box">
            <extends src="./src/components/elements/parametr.html">
                <block name="parametr-name">Параметры</block>
            </extends>
            <div class="other-parametrs__view">
                <div class="container">
                    <ul class="other-parametrs__view-list">
                        <li class="other-parametrs__view-item">Бренд</li>
                        <li class="other-parametrs__view-item">Артикул</li>
                        <li class="other-parametrs__view-item">Коллекция</li>
                        <li class="other-parametrs__view-item">Назначение</li>
                        <li class="other-parametrs__view-item">Управление</li>
                        <li class="other-parametrs__view-item">Механизм</li>
                        <li class="other-parametrs__view-item">Материал</li>
                        <li class="other-parametrs__view-item">Донный клапан</li>
                        <li class="other-parametrs__view-item">Гарантия</li>
                        <li class="other-parametrs__view-item">Страна-производитель</li>
                    </ul>
                    <ul class="other-parametrs__view-list">
                        <li class="other-parametrs__view-item">Ravak</li>
                        <li class="other-parametrs__view-item">X070063</li>
                        <li class="other-parametrs__view-item">10&ordm;</li>
                        <li class="other-parametrs__view-item">для раковины</li>
                        <li class="other-parametrs__view-item">рычажное</li>
                        <li class="other-parametrs__view-item">керамический</li>
                        <li class="other-parametrs__view-item">латунь</li>
                        <li class="other-parametrs__view-item">есть</li>
                        <li class="other-parametrs__view-item">5 лет</li>
                        <li class="other-parametrs__view-item">Чехия</li>
                    </ul>
                </div>
            </div>
        </div>
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Отзывы</block>
            <block name="parametr-amount">12</block>
        </extends>
    </div>
    <div class="other-parametrs__group">
        <div class="other-parametrs__box">
            <extends src="./src/components/elements/parametr.html">
                <block name="parametr-name">Гарантии</block>
            </extends>
            <div class="other-parametrs__view">
                <div class="container">
                    <ul class="other-parametrs__view-list">
                        <li class="other-parametrs__view-item">Бренд</li>
                        <li class="other-parametrs__view-item">Артикул</li>
                        <li class="other-parametrs__view-item">Коллекция</li>
                        <li class="other-parametrs__view-item">Назначение</li>
                        <li class="other-parametrs__view-item">Управление</li>
                        <li class="other-parametrs__view-item">Механизм</li>
                        <li class="other-parametrs__view-item">Материал</li>
                        <li class="other-parametrs__view-item">Донный клапан</li>
                        <li class="other-parametrs__view-item">Гарантия</li>
                        <li class="other-parametrs__view-item">Страна-производитель</li>
                    </ul>
                    <ul class="other-parametrs__view-list">
                        <li class="other-parametrs__view-item">Ravak</li>
                        <li class="other-parametrs__view-item">X070063</li>
                        <li class="other-parametrs__view-item">10&ordm;</li>
                        <li class="other-parametrs__view-item">для раковины</li>
                        <li class="other-parametrs__view-item">рычажное</li>
                        <li class="other-parametrs__view-item">керамический</li>
                        <li class="other-parametrs__view-item">латунь</li>
                        <li class="other-parametrs__view-item">есть</li>
                        <li class="other-parametrs__view-item">5 лет</li>
                        <li class="other-parametrs__view-item">Чехия</li>
                    </ul>
                </div>
            </div>
        </div>
        <extends src="./src/components/elements/parametr.html">
            <block name="parametr-name">Возврат</block>
        </extends>
    </div>
</section>