@import '../components/elements/parametr.styl';

.other-parametrs{
    &__group{
        margin-top 8px
    }
    &__view{
        background-color var(--grey-background-color)
        height 257px
        width 100vw
        display: none
        padding-left 16px
        &_active{
            display flex
        }
    }
    &__view-list{
        list-style none 
        margin 0
        padding 0
        width 135px
        font-size: 12px
        line-height 24px
        color: var(--price-color)
        float left
    }
    &__view-item{
        text-decoration none
        color inherit
        margin 0
        padding 0
        height 24px
    }
    &__text{
        width 672px
        color: var(--ptice-color)
        margin 20px 0 30px 0
        font-size: 14px
        line-height 24px
    }
    &__pharagraph{
        padding-bottom 24px
        &:last-of-type{
            padding-bottom 0
        }
    }
}