.parametr{
    background-color var(--grey-background-color)
    width 100%
    height 48px
    &__content{
        width calc(100%-16px)
        display flex
        align-items: center
        justify-content: space-between
        margin 0
        margin: 0 0 0 16px 
        border-bottom 1px solid #CDD8DA
        box-sizing: padding-box
    }
    &__date{
        height 100%
        display flex
        justify-content: flex-start
        align-items: center
        color: var(--main-text-color)
        line-height 48px
    }
    &__title{
        font-size: 16px
    }
    &__amount{
        font-weight 700
        font-size: 14px
        padding-left 8px
    }
    &__button{
        border none 
        background-color inherit
        color: var(--main-text-color)
        width 60px
        height 48px
        display flex
        justify-content: center
        align-items: center
        cursor pointer
        transform: rotate(360deg)
        &_open{
            transform: rotate(180deg)
        }
    }
}