<div class="product">
    <div class="product__photo"><img src="../image/shower-cabin-for-card.png" role="img" title="Душевая кабина"
            alt="Душевая кабина" class="product__image"></div>
    <div class="product__description">
        <div class="product__text">Душевая кабина АМ.РМ</div>
        <div class="product__characteristic">Awe 90*90см</div>
        <div class="product__price">260 190Р</div>
        <div class="product__like product__like_active">
            <extends src="./src/components/icons/heart-for-card.html">
            </extends>
        </div>
    </div>
</div>