<div class="container">
    <div class="sale-ok__menu" role="heading">
        <ul class="sale-ok__menu-list">
            <li class="sale-ok__menu-item">
                <a href="../html/index.html" class="sale-ok__name">
                    Главная
                </a>
            </li>
            <li class="sale-ok__menu-item">
                <a href="../html/index.html" class="sale-ok__name">
                    &bull;
                </a>
            </li>
            <li class="sale-ok__menu-item">
                <a href="../html/index.html" class="sale-ok__name">
                    Корзина
                </a>
            </li>
        </ul>
    </div>
    <h2 class="sale-ok__title-page">
        Оформление заказа
    </h2>
    <section class="sale-ok__card">
        <img src="../components/icons/ok-for-ended-buy.svg" title="Ok" alt="Ok" class="sale-ok__ok">
        <h1 class="sale-ok__head">
            Заказ оформлен
        </h1>
        <p class="sale-ok__description">
            Наш менеджер свяжется с вами в ближайшее время.
        </p>
    </section>
    <button type="button" class="sale-ok__button">
        <a href="../html/index.html" class="sale-ok__link">
            на главную
        </a>
    </button>
</div>

<div class="overlay__sale-ok"></div>
<div class="modal-sale-ok">
    <h4 class="modal-sale-ok__title">
        Зеркало в раме без подсветки Burlington M6OO 60 см
    </h4>
    <div class="modal-sale-ok__close">+</div>
    <img src="../image/exemple-silk.png" alt="sink" class="modal-sale-ok__photo">
    <div class="modal-sale-ok__details">
        <div class="modal-sale-ok__amount">
            <p class="modal-sale-ok__amount-title">Количество</p>
            <div class="modal-sale-ok__change">
                <button class="modal-sale-ok__change-button modal-sale-ok__change-button_minus">-</button>
                <div class="modal-sale-ok__change-item">7</div>
                <button class="modal-sale-ok__change-button modal-sale-ok__change-button__plus">+</button>
            </div>
        </div>
        <div class="modal-sale-ok__sum">
            <p class="modal-sale-ok__sum-title">
                Стоимость
            </p>
            <h1 class="modal-sale-ok__summary">=
                <span class="modal-sale-ok__total">
                    934 500 Р
                </span></h1>
        </div>
    </div>
    <div class="modal-sale-ok__delete">
        <p class="modal-sale-ok__icons">&ndash;</p>
        <p class="modal-sale-ok__name-icons">
            Убрать из корзины
        </p>
    </div>
</div>