<div class="container">
    <div class="sale-ok__menu" role="heading">
        <ul class="sale-ok__menu-list">
            <li class="sale-ok__menu-item">
                <a href="../html/index.html" class="sale-ok__name">
                    Главная
                </a>
            </li>
            <li class="sale-ok__menu-item">
                <a href="" class="sale-ok__name">
                    &bull;
                </a>
            </li>
            <li class="sale-ok__menu-item">
                <a href="../html/page-basket.html" class="sale-ok__name">
                    Корзина
                </a>
            </li>
        </ul>
    </div>
    <h2 class="sale-ok__title-page">
        Оформление заказа
    </h2>
    <section class="sale-ok__card">
        <img src="../components/icons/ok-for-ended-buy.svg" title="Ok" alt="Ok" class="sale-ok__ok">
        <h1 class="sale-ok__head">
            Заказ оформлен
        </h1>
        <p class="sale-ok__description">
            Наш менеджер свяжется с вами в ближайшее время.
        </p>
    </section>
    <button type="button" class="sale-ok__button">
        <a href="../html/index.html" class="sale-ok__link">
            на главную
        </a>
    </button>
</div>


<div class="overlay__sale-ok"></div>
<extends src="./src/components/elements/modal-sale-ok.html">
</extends>