@import '../components/elements/modal-sale-ok.styl';

.sale-ok{
    &__container{
        padding: 0 16px    
    }
    &__menu{
        color var(--main-text-color)
        font-size: 14px
        line-height 34px
        height 34px
        width 100%
    }
    &__menu-list{
        list-style none
        display flex
        margin 0
        padding 0
        height 16px
        
    }
    &__menu-item{
        padding: 0 4px
        user-select: none
        position relative
    }
    &__name{
        display inline
        cursor pointer
        text-decoration none
        color inherit
        margin 0
        padding 0
    }
    &__title-page{
        margin 0
        padding 6px 0 16px 0
        height 32px
        line-height 32px
        cursor: auto
        color: var(--price-color)
    }
    &__card{
        width 100%
        height 234px
        display flex
        flex-direction: column
        justify-content: flex-start
        margin-top 52px
        align-items: center
        color: var(--main-text-color)
    }
    &__ok{
        width 60px
        height 60px
    }
    &__head, &__ok {
        margin 0
        padding 0
    }
    &__description{
        height 36px
        width 173px
        font-size: 13px
        line-height 18px
        margin-top 20px
    }
    &__button{
        width 100%
        padding: 0
        height 48px
        background-color var(--background-button-color)
        color var(--main-color)
        text-transform: uppercase
        font-weight 700
        cursor pointer
        border: 0
        margin-bottom 16px
        &:hover{
            opacity: 0.7    
        }
    }
    &__link{
        text-decoration none
        color: inherit
    }
}
.overlay__sale-ok{
    background-color var(--price-color)
    opacity 0.5
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    z-index: 10
    &_hidden{
        display none
    }
}

